## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Set Path
path=r'C:\\\\Users\\\\maad0\\\\OneDrive\\\\CAREERFOUNDRY Notes\\\\Advanced Analytics_Dashboard Design\\\\11-2023 Final Project'

In [3]:
# Import flavors_of_cacao.csv
df_flavors = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'flavors_of_cacao.csv'), index_col = False)

In [4]:
# Checking dataframe 
df_flavors.head(25)

,REF,Company\n(Manufacturer),Company\nLocation,Review\nDate,Country of Bean\nOrigin,Specific Bean Origin\nor Bar Name,Cocoa\nPercent,Rating,Bean\nType
0,1876,A. Morin,France,2016,Sao Tome,Agua Grande,0.63,3.75,
1,1676,A. Morin,France,2015,Togo,Kpime,0.70,2.75,
2,1676,A. Morin,France,2015,Togo,Atsane,0.70,3.00,
3,1680,A. Morin,France,2015,Togo,Akata,0.70,3.50,
4,1704,A. Morin,France,2015,Peru,Quilla,0.70,3.50,
5,1315,A. Morin,France,2014,Venezuela,Carenero,0.70,2.75,Criollo
6,1315,A. Morin,France,2014,Cuba,Cuba,0.70,3.50,
7,1315,A. Morin,France,2014,Venezuela,Sur del Lago,0.70,3.50,Criollo
8,1319,A. Morin,France,2014,Venezuela,Puerto Cabello,0.70,3.75,Criollo
9,1319,A. Morin,France,2014,Peru,Pablino,0.70,4.00,
10,1011,A. Morin,France,2013,Panama,Panama,0.70,2.75,
11,1011,A. Morin,France,2013,Madagascar,Madagascar,0.70,3.00,Criollo
12,1011,A. Morin,France,2013,Brazil,Brazil,0.70,3.25,
13,1011,A. Morin,France,2013,Ecuador,Equateur,0.70,3.75,
14,1015,A. Morin,France,2013,Colombia,Colombie,0.70,2.75,
15,1015,A. Morin,France,2013,Burma,Birmanie,0.70,3.00,
16,1015,A. Morin,France,2013,Papua New Guinea,Papua New Guinea,0.70,3.25,
17,1015,A. Morin,France,2013,Venezuela,Chuao,0.70,4.00,Trinitario
18,1019,A. Morin,France,2013,Peru,Piura,0.70,3.25,
19,1019,A. Morin,France,2013,Peru,Chanchamayo Province,0.70,3.50,
20,1019,A. Morin,France,2013,Peru,Chanchamayo Province,0.63,4.00,
21,797,A. Morin,France,2012,Bolivia,Bolivia,0.70,3.50,
22,797,A. Morin,France,2012,Peru,Peru,0.63,3.75,
23,1462,Acalli,U.S.A.,2015,Peru,"Chulucanas, El Platanal",0.70,3.75,
24,1470,Acalli,U.S.A.,2015,Peru,"Tumbes, Norandino",0.70,3.75,Criollo

## Data Wrangling

In [5]:
# Rename Column 
df_flavors.rename(columns = {'REF' : 'reference_number'}, inplace = True)

In [6]:
# Rename Column 
df_flavors.rename(columns = {'Company\n(Manufacturer)' : 'company_manufacturer'}, inplace = True)

In [7]:
# Rename Column 
df_flavors.rename(columns = {'Company\nLocation' : 'company_location'}, inplace = True)

In [8]:
# Rename Column 
df_flavors.rename(columns = {'Review\nDate' : 'review_date'}, inplace = True)

In [9]:
# Rename Column 
df_flavors.rename(columns = {'Country of Bean\nOrigin' : 'bean_origin'}, inplace = True)

In [10]:
# Rename Column 
df_flavors.rename(columns = {'Specific Bean Origin\nor Bar Name' : 'bar_name'}, inplace = True)

In [11]:
# Rename Column 
df_flavors.rename(columns = {'Cocoa\nPercent' : 'cocoa_percent'}, inplace = True)

In [12]:
# Rename Column 
df_flavors.rename(columns = {'Rating' : 'rating'}, inplace = True)

In [13]:
# Rename Column 
df_flavors.rename(columns = {'Bean\nType' : 'bean_type'}, inplace = True)

In [14]:
# Validating column name changes
df_flavors.columns

Index(['reference_number', 'company_manufacturer', 'company_location',
       'review_date', 'bean_origin', 'bar_name', 'cocoa_percent', 'rating',
       'bean_type'],
      dtype='object')

In [15]:
# Check dataframe data 
df_flavors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   reference_number      1795 non-null   int64
 1   company_manufacturer  1795 non-null   object
 2   company_location      1795 non-null   object
 3   review_date           1795 non-null   int64
 4   bean_origin           1794 non-null   object
 5   bar_name              1795 non-null   object
 6   cocoa_percent         1795 non-null   float64
 7   rating                1795 non-null   float64
 8   bean_type             1794 non-null   object
dtypes: float64(2), int64(2), object(5)
memory usage: 126.3+ KB

In [16]:
# Change a variable data type
df_flavors['reference_number'] = df_flavors['reference_number'].astype('str')

In [17]:
# Checking results 
df_flavors.dtypes

reference_number         object
company_manufacturer     object
company_location         object
review_date               int64
bean_origin              object
bar_name                 object
cocoa_percent           float64
rating                  float64
bean_type                object
dtype: object

## Data Consistency Check

In [18]:
# Perform statistical analysis on dataframe
df_flavors.describe()

       review_date  cocoa_percent       rating
count  1795.000000    1795.000000  1795.000000
mean   2012.325348       0.717003     3.185933
std       2.927210       0.063230     0.478062
min    2006.000000       0.420000     1.000000
25%    2010.000000       0.700000     2.875000
50%    2013.000000       0.700000     3.250000
75%    2015.000000       0.750000     3.500000
max    2017.000000       1.000000     5.000000

#### Nothing in the df_flavors dataframe looks strange.

In [19]:
# Checking for mixed-type columns
for col in df_flavors.columns.tolist():
    weird = (df_flavors[[col]].applymap(type) != df_flavors[[col]].iloc[0].apply(type)).any(axis = 1)
    if len (df_flavors[weird]) > 0:
        print (col)

bean_origin
bean_type

#### bean_origin and bean_type columns has mixed data 
#### names and numbers are reflected ## these columns contains mostly names## the datatype will remain astype 'string'

In [20]:
# Checking for Missing Values
df_flavors.isnull().sum()

reference_number        0
company_manufacturer    0
company_location        0
review_date             0
bean_origin             1
bar_name                0
cocoa_percent           0
rating                  0
bean_type               1
dtype: int64

In [21]:
# Creating dataframe to see missing values
df_nan = df_flavors[df_flavors['bean_origin'].isnull() == True]

In [22]:
df_nan

,reference_number,company_manufacturer,company_location,review_date,bean_origin,bar_name,cocoa_percent,rating,bean_type
1072,999,Mast Brothers,U.S.A.,2012,NaN,Madagascar,0.72,2.5,Trinitario

In [23]:
# Creating dataframe to see missing values
df_nan = df_flavors[df_flavors['bean_type'].isnull() == True]

In [24]:
df_nan

,reference_number,company_manufacturer,company_location,review_date,bean_origin,bar_name,cocoa_percent,rating,bean_type
1544,676,Soma,Canada,2011,"Ven, Bolivia, D.R.","Three Amigos(Chuao, Wild Bolivia, D.R.)",0.7,4.0,NaN

#### Missing values are minimal- not addressing.

In [25]:
# Checking for Duplicates
df_dups = df_flavors[df_flavors.duplicated()]

In [26]:
# Checking results
df_dups

Empty DataFrame
Columns: [reference_number, company_manufacturer, company_location, review_date, bean_origin, bar_name, cocoa_percent, rating, bean_type]
Index: []

#### No duplicates found in dataset

#### Deriving New Variables

In [27]:
# Defining Rating Metrics
def rating_metrics(row):
    if row['rating'] >= 5:
        return 'Elite'
    elif (row['rating'] == 4):
        return 'Premium'
    elif (row['rating'] >= 3):
        return 'Satisfactory'
    elif (row['rating'] >= 3.75):
        return 'Praiseworthy'
    elif (row['rating'] <= 2.75) and (row['rating'] >=2):
        return 'Disappointing'
    elif (row['rating'] <= 1.75) and (row['rating'] >=1):
        return 'Unpleasant'

In [28]:
# Apply the function
df_flavors['rating_metrics'] = df_flavors.apply(rating_metrics, axis=1)

In [29]:
# Checking values
df_flavors['rating_metrics'].value_counts(dropna = False)

Satisfactory     1246
Disappointing     432
Premium            98
Unpleasant         17
Elite               2
Name: rating_metrics, dtype: int64

In [30]:
# Check dataset before exporting
df_flavors.shape

(1795, 10)

In [31]:
# Check dataframe
df_flavors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   reference_number      1795 non-null   object
 1   company_manufacturer  1795 non-null   object
 2   company_location      1795 non-null   object
 3   review_date           1795 non-null   int64
 4   bean_origin           1794 non-null   object
 5   bar_name              1795 non-null   object
 6   cocoa_percent         1795 non-null   float64
 7   rating                1795 non-null   float64
 8   bean_type             1794 non-null   object
 9   rating_metrics        1795 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 140.4+ KB

In [32]:
# Check dataframe head
df_flavors.head()

,reference_number,company_manufacturer,company_location,review_date,bean_origin,bar_name,cocoa_percent,rating,bean_type,rating_metrics
0,1876,A. Morin,France,2016,Sao Tome,Agua Grande,0.63,3.75,,Satisfactory
1,1676,A. Morin,France,2015,Togo,Kpime,0.70,2.75,,Disappointing
2,1676,A. Morin,France,2015,Togo,Atsane,0.70,3.00,,Satisfactory
3,1680,A. Morin,France,2015,Togo,Akata,0.70,3.50,,Satisfactory
4,1704,A. Morin,France,2015,Peru,Quilla,0.70,3.50,,Satisfactory

In [34]:
# Export df_flavors as flavors_checked
df_flavors.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'flavors_checked.csv'))